# Environments
venv/
.env

# Python
__pycache__/
format_dataset.py
harvest_images.py
train.py
*.pyc
*.pyo
*.pyd

# Model Weights
*.pt
*.pth
*.onnx

# Outputs and Analytics
output_images/
*.csv
*.log
*.zip

# Machine Learning & Datasets
dataset_raw/
exported_dataset/
custom_dataset/
runs/


# IDEs & System
.vscode/
.idea/
.DS_Store
